# Compiled Object files
*.o
*.obj
/venv

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# Django related
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Media files
media/

# Static files
staticfiles/
static/

# Django stuff:
db.sqlite3
db.sqlite3-journal

# Environment Variables
.env

# Virtualenv
venv/
ENV/
env/
